{{ define "main" }}
<main class="main-wrapper">
    <section>
        <div class="padding-vertical padding-xxhuge">
            <div class="z-3">
                <div class="page-padding">
                    <div class="container-large">
                        <div class="grid-12col-base is-align-bottom">
                            <div id="w-node-_19ea42c6-8f34-1041-d1a8-ebfb2d3d272f-2d3d2728">
                              {{ .Content }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div color="" vertical="false" class="divider"></div>

</main>
{{ end }}
