@font-face {
    font-display: swap;
    font-family: 'Signika';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/signika-v20-latin-700.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/heebo-v21-latin-regular.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/heebo-v21-latin-600.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'RosaSans';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/hinted-RosaSans-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Author-Regular';
  src: url('../fonts/Author-Regular.woff2') format('woff2'),
       url('../fonts/Author-Regular.woff') format('woff'),
       url('../fonts/Author-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Author-SemiBold';
  src: url('../fonts/Author-Semibold.woff2') format('woff2'),
       url('../fonts/Author-Semibold.woff') format('woff'),
       url('../fonts/Author-Semibold.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
:root {
    --fontTitles: 'Author-SemiBold', sans-serif;
    --fontBody: 'Author-Regular', sans-serif;
}
